<!DOCTYPE html>
<html>
  <body>
    <div class="user-edit-container">
    <h2 class="user-edit-title">コメントを投稿する</h2>

      <%= form_tag("/comment/save_comment/#{@topic_id}", {method: "post"}) do %>
        <textarea name="topic" cols="50" rows="7"></textarea>
        <br>
        　<input class="user-edit-submit-button" type="submit" value="投稿">
  <% end %>

  </div>
 </body>
</html>
