<!DOCTYPE html>
<html>
  <body>
    <div class="user-edit-container">
      <h1>ログイン</h1>
      <%= form_tag("/login_check") do %>
      <div class="user-edit-textarea">
        <p>
          メールアドレス<br>
          <textarea name="email" cols="45" rows="1"></textarea>
        </p>
      </div>

      <div class="user-edit-password">
        <p>
          パスワード<br>
        　<input type="password" name="password"></input>
        </p>
      </div>
          <br>
          <br>
          　<input class="user-edit-submit-button" type="submit" value="ログイン">
            　<%= link_to("テストログイン", "/testlogin")%>
          <% end %>
    </div>
  </body>
</html>
