<!DOCTYPE html>
<html>
  <body>
    <div class="user-edit-container">

      <h2 class="user-edit-title">新規ユーザー登録</h2>
    <%= form_tag("/user_save") do %>
    <div class="user-edit-textarea">
      <p>
      ユーザー名<br>
      <textarea name="name" cols="45" rows="1"></textarea>
      </p>
      <p>
      メールアドレス<br>
      <textarea name="email" cols="45" rows="1"></textarea>
      </p>
    </div>

    <div class="user-edit-password">
      <p>
      パスワード<br>
      　<input type="password" name="password1"></input>
      </p>
      <p>
      パスワードを再入力<br>
      　<input type="password" name="password2"></input>
      </p>
    </div>
        <br>
        <br>
      　<input class="user-edit-submit-button" type="submit" value="新規登録">
    <% end %>

  </div>
 </body>
</html>
