<!DOCTYPE html>
<html>

<%= form_tag("/topic/save/#{@topic.topic_id}") do %>
  <body>
    <div class="topic-edit-container">
      <h1 class="topic-edit-header-title">　トピックの編集</h1>

      <div class="topic-edit-title">
        　タイトル
        <textarea name="title" cols="55" rows="1"><%= @topic.title %></textarea>
      </div>

    <div class="topic-edit-body">
        　本文
        　<textarea name="title_topic" cols="55" rows="7"><%= @topic.title_topic %></textarea>
    </div>

      <div class="topic-edit-submit-button">
        　<input class="topic-edit-submit-button" type="submit" value="保存">
      </div>

    </div>
  </body>
<% end %>


</html>
